*{
    margin:0;
    padding:0;
    box-sizing: border-box;



}


.section{
    margin:0 auto;
    padding: 10px;
    width: 90vw;
    max-width: 1170px;
    background: url('../Assets/Images/homeImage.jpg');
    height: 100vh;
    width: 100vw;



}

.sectionCenter{
    text-align: center;
    


}